.centered-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    color:white;
    font-family: 'Candara';
    font-size: 30px;
  }

  .left-panel {
    display: inline-block;
    background-color: lightyellow;
    width: 50%;
}
.middle-panel {
    display: inline-block;
    background-color: lightblue;
    width: 30%;
}
.right-panel {
    display: inline-block;
    background-color: lightgreen;
    width: 20%
}

.build {
    display: inline-block;
    background-color: lightgreen;
    width: 100%
  }
  
.new-line {
    white-space: pre-line;
  }

  .centered-h2-rest {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    color:black;
    font-size:xx-large;
  }

  .dropdown {
    width: 270px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    margin-bottom: 30px;
  }

  .navSpace {
    padding: 10px;
  }

  .navColor {
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: midnightblue;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Candara';
  }

  .coolContainerH4 {
    float: left;
  }

  .coolContainerGrid {
    float: right;
  }